/app/bootstrap.php.cache
/app/config/parameters.yml
/bin/
!bin/composer
/composer.phar
/composer.lock
/src/AppBundle/Resources/public/lib/
/var/*
!var/.gitkeep
/vendor/
/web/assetic/
/web/css/
/web/images/
/web/js/
/web/bundles/
