<!DOCTYPE html>
<html ng-app="first-jeudi" ng-csp>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <a href="https://github.com/sanpii/estcequilyafirstjeudicettesemaine">
            {% image '@AppBundle/Resources/public/img/github.png' %}
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ asset_url }}" alt="Fork me on GitHub" />
            {% endimage %}
        </a>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts '@onionify_js' %}
                <script src="{{ asset_url }}" data-onion="http://t2pq46vd5zazzqjj.onion"></script>
            {% endjavascripts %}
            {% image '@onionify_img' %}
                <noscript>
                    <a href="http://t2pq46vd5zazzqjj.onion" style="position: absolute; top: 0; right: 0; border: 0;">
                        <img src="{{ asset_url }}" alt="This site has an .onion domain" />
                    </a>
                </noscript>
            {% endimage %}
        {% endblock %}
    </body>
</html>
